name: Build Android APK

on:
  push:
    branches: [ main, master ] 
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          # This version contains exactly Dart 3.10.4
          flutter-version: '3.38.5' 
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Build APK
        run: |
          flutter build apk --release || echo "Ignoring Flutter tool search error..."
          echo "Checking the directory for the APK file..."
          # This lists all files so we can see the real name in the logs
          ls -R build/app/outputs/apk/
          
          # This creates the target directory
          mkdir -p build/app/outputs/flutter-apk
          
          # This uses a wildcard (*) to copy whatever .apk was made
          cp build/app/outputs/apk/release/*.apk build/app/outputs/flutter-apk/app-release.apk

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: release-apk
          path: build/app/outputs/flutter-apk/app-release.apk